#rightimg {float: right; margin-top: 5%; object-fit: cover; width: 1000px; height: 1000px;}
#q {background-color: #ffffe0; font-family: gabriola; width: 850px; font-size: 40px; border: double 10px black; position: fixed; top: 20%;}
#muk {width: 100px; height: 100px; position: fixed; bottom:0; left:0;}
#text {margin:0 40%; background-color: #ffffe0; font-family: gabriola; text-align: center; font-size: 70px; width: 514px;}